body {
	margin: 0;
	padding: 0;
}

.top-header {
	padding-top: 15px;
	height: 60px;
	text-align: center;
	background: #FFFFFF;
}

.top-header-image {
	max-height: 45px;
}

.container {
	width: 80%;
	margin: 0 auto;
}